.Failure {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    background-color: #EEE;
    padding: 20px;
    font-weight: bold;
}

input {
    margin-top: 4px;
    margin-bottom: 24px;
    font-size: 12px;
}

.RPN {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
}

.slider {
    display: flex;
    justify-content: space-between;
}

input[type="range"] {
    width: 520px;
}

.hint {
    color: #888;
    font-weight: normal;
}